*{
  font-family: "Monsterrat", sans-serif;
  margin: 0;
}

/* header */
.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #46424D;
}

h1 {
  color: #FFF;
  font-weight: 300;
  font-size: 20px;
}

/* Form Section */
body {
  background-color: #2B2733;
  height: 100%;
  width: 100%;
}

.main-body {
  display: flex;
}

.new-activity {
  color: #CBC9CF;
  font-weight: 300;
  margin-left: 20px;
  padding-top: 15px;
}

.form-section {
  width: 60%;
  height: 80%;
}

.form {
  background-color: #46424D;
  margin: 20px;
  height: 85vh;
}

.select-category {
  color: #CBC9CF;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 80px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  width: 85%;
  margin-left: 40px;
}

.activity-button {
  background-color: white;
  border: none;
  color: #46424D;
  padding: 5px 20px;
  border-radius: 3px;
  font-weight: 300;
  margin-left: 567px;
}

.accomplish-and-input,
.minutes-and-input,
.seconds-and-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.minutes-and-seconds {
  display: flex;
  justify-content: space-between;
}

.accomplish-input {
  width: 620px;
  margin-left: 80px;
  padding-top: 28px;
}

.minutes-input {
  margin-left: 80px;
  width: 250px;
  padding-top: 28px;
} 

.seconds-input {
  margin-right: 120px;
  width: 250px;
  padding-top: 28px;
}

.accomplish,
.minutes{
  color: #CBC9CF;
  margin-left: 80px;
}

.seconds {
  color: #CBC9CF;
}

input {
  outline: 0;
  border: 0px solid #CBC9CF;
  background-color: transparent;
  border-bottom-width: 1px;
}

.study,
.meditate,
.exercise {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 45px;
  background-color: #46424D;
  border-color: white;
  color: #CBC9CF;
  border-radius: 4px;
  width: 150px;
}

img {
  width: 30px;
  height: 30px;
}

.accomplish-error,
.minutes-error {
  color: #EFB7EC;
  margin-left: 80px;
}

.seconds-error {
  color: #EFB7EC;
  margin-right: 200px;
}

.warning-img {
  width: 10px;
  height: 10px;
}

/* Timer View Section */

.timer-view {
  width: 60%;
  height: 80%;
}

.create-container {
  width: 60%;
  height: 80%;
}

.create-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #46424D;
  margin: 20px;
  height: 85vh;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #46424D;
  margin: 20px;
  height: 85vh;
}

.timer-category {
  font-weight: 300;
  font-size: 25px;
  color: white;
}

.timer-time {
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
}

.current-activity,
.current-header
 {
  color: #CBC9CF;
  font-weight: 300;
  margin-left: 20px;
  padding-top: 15px;
}

.description-countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green-button {
  background-color: #46424D;
  color: white;
  height: 200px;
  width: 200px;
  border: 2px solid #B3FD78;
  border-radius: 50%;
}

.purple-button {
  background-color: #46424D;
  color: white;
  height: 200px;
  width: 200px;
  border: 2px solid #C278FD;
  border-radius: 50%;
}

.red-button {
  background-color: #46424D;
  color: white;
  height: 200px;
  width: 200px;
  border: 2px solid red;
  border-radius: 50%;
}

.log-activity-btn {
  background-color: white;
  border: none;
  color: #46424D;
  padding: 5px 50px;
  border-radius: 3px;
  font-weight: 300;
  margin-top: 15px;
}

.create-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.create-new-activity {
  background-color: white;
  border: none;
  color: #46424D;
  padding: 8px 70px;
  border-radius: 3px;
  font-weight: 300;
  margin-top: 60px;
}

/* Past Activities Section */

.activities-section {
  width: 40%;
  color: #CBC9CF;
  border-left: 2px solid #46424D;
}

.past-activities {
  font-weight: 300;
  margin-left: 15px;
  padding: 20px;
}

.no-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-log-activity {
  padding: 6px;
}

.saved-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80px;
  border-radius: 3px;
  padding-left: 8px;
  background-color: #46424D;
  margin-right: 18px;
  box-shadow: 2px 2px #322F37;
  margin-top: 10px;
}

.saved-category {
  color: white;
  font-size: 18px;
  padding: 2px 0;
  text-transform: capitalize;
}

.saved-description {
  padding: 5px 0;
  font-weight: 300;
}

.line-container {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
  margin: 5px 5px;
}

.line {
  margin: 5px;
  border-radius: 5px;
  width: 4px;
}

.line-study {
  background-color: #B3FD78;
}

.line-meditate {
  background-color: #C278FD;
}

.line-exercise {
  background-color: #FD8078;
}
