*{
  font-family: "Monsterrat", sans-serif;
  margin: 0;
}

/* header */
.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #46424D;
}

h1 {
  color: #FFF;
  font-weight: 300;
  font-size: 20px;
}

/* Form Section */
body {
  background-color: #2B2733;
  height: 100%;
  width: 100%;
}

.main-body {
  display: flex;
}

.new-activity {
  color: #CBC9CF;
  font-weight: 300;
  margin-left: 20px;
  padding-top: 15px;
}

.form-section {
  width: 60%;
  height: 80%;
}

.form {
  background-color: #46424D;
  margin: 20px;
  height: 90vh;
}

.select-category {
  color: #CBC9CF;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 80px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.activity-button {
  background-color: #CDC9CF;
  border: none;
  color: #46424D;
  padding: 5px 20px;
  border-radius: 3px;
  font-weight: 300;
  margin-left: 600px;
}

.accomplish-and-input,
.minutes-and-input,
.seconds-and-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

/* .seconds-and-input {
  margin-top: 15px;
  margin-left: 50px;
} */

.minutes-and-seconds {
  display: flex;
  justify-content: space-between;
}

.accomplish-input {
  width: 80%;
  margin-left: 80px;
  padding-top: 20px;
}

.minutes-input {
  margin-left: 80px;
  width: 80%;
}

.seconds-input {
  margin-right: 80px;
}

.accomplish,
.minutes,
.seconds {
  color: #CBC9CF;
  margin-left: 80px;
}

input {
  outline: 0;
  border: 0px solid #CBC9CF;
  background-color: transparent;
  border-bottom-width: 1px;
}

.study,
.meditate,
.exercise {
  padding: 20px 45px;
  background-color: #46424D;
  border-color: white;
  color: #CBC9CF;
  border-radius: 4px;
}

img {
  width: 30px;
  height: 30px;
}

span {
  color: #EFB7EC;
}

.warning-img {
  width: 10px;
  height: 10px;
}

/* Timer View Section */

.timer-view {
  width: 60%;
  height: 80%;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #46424D;
  margin: 20px;
  height: 90vh;
}

.timer-category {
  font-weight: 300;
  font-size: 25px;
  color: white;
}

.timer-time {
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
}

.current-activity {
  color: #CBC9CF;
  font-weight: 300;
  margin-left: 20px;
  padding-top: 15px;
}

.description-countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button {
  background-color: #46424D;
  color: white;
  height: 200px;
  width: 200px;
  border: 2px solid white;
  border-radius: 50%;
}


/* Past Activities Section */

.activities-section {
  width: 40%;
  color: #CBC9CF;
  border-left: 2px solid #46424D;

}
